.pesron{
    position: relative;
    .vote{
        width: 40px;
        height: 40px;
        background-color:#24baef;
        position: absolute;
        top: 0;
        right: 0px;
        z-index: 99;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}